<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User info</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <table>
        <tr>
            <th>Userid</th>
            <th>Username</th>
            <th>email</th>
            <th>Edit Changes</th>
        </tr>
        <% for(user of data) { %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.userid %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <form method="GET" action="/users/<%= user.id %>/edit">
                        <button>Edit</button>
                    </form>
                </td>
            </tr>
            <% } %>
    </table>
</body>
</html>